@-moz-keyframes pop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes pop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@-o-keyframes pop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes pop {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@-moz-keyframes byBottom {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}

@-webkit-keyframes byBottom {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}

@-o-keyframes byBottom {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes byBottom {
    0% {
        transform: translateY(150%);
    }

    100% {
        transform: translateY(0);
    }
}

@-moz-keyframes linkAfter {
    0% {
        width: 0;
    }

    100% {
        width: 1em;
    }
}

@-webkit-keyframes linkAfter {
    0% {
        width: 0;
    }

    100% {
        width: 1em;
    }
}

@-o-keyframes linkAfter {
    0% {
        width: 0;
    }

    100% {
        width: 1em;
    }
}

@keyframes linkAfter {
    0% {
        width: 0;
    }

    100% {
        width: 1em;
    }
}

/* PERSO______________________ */


@-moz-keyframes opacityUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@-webkit-keyframes opacityUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@-o-keyframes opacityUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes opacityUp {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}