main>article:nth-child(1) {
    /* margin-top: var(--margintop); */
}

.main--careerpath {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
}

.gridzone--careerpath {
    display: grid;
    grid-template-columns: 65vw auto;
    justify-items: center;
    justify-content: center;
    align-content: flex-start;
    grid-auto-flow: row;
    box-sizing: border-box;
}

.img_parcours--careerpath {
    float: left;
    margin: 0 20px 0px 0;
    width: calc(50px + 5vw);
    object-fit: cover;
    border-radius: 5px;
    transform: translateY(.2rem);
}

.groupexp--careerpath {
    margin: 0 7vh 0 3vh;
    color: var(--white);
    margin-bottom: 10vh;
    line-height: calc(1em + 0.5vw);
    word-spacing: 0.3em;
    text-align: justify;
    font-size: 1.8em;
    width: 100%;
}

.title_annime--careerpath {
    font-size: 1.5em;
}

.myname--careerpath--aside {
    font-size: calc(16px + .8vw);
}

.margin_section {
    margin: 0 7vw 0 3vw;
}

article .groupexp--careerpath p {
    padding-bottom: 71px;
    font-weight: 300;
}

.shortdev,
.longdev {
    display: inline;
}

/* FOOTER_________________________________________________________________ */
.footer {
    background: var(--footer);
    height: 80px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: syncopate;
    font-style: italic;
    letter-spacing: 0.25vw;
    text-transform: uppercase;
    font-size: 1em;
}

.icon_footer {
    position: absolute;
    max-width: fit-content;
    max-height: fit-content;
    height: 1.5em;
    margin-left: .3em;
    transform: translateY(-10%);
}

/* timeline zone ________________________________________________________ */
.timelinezone--careerpath .timeline__data .school {
    color: var(--blue);
}

.timelinezone--careerpath .timeline__data .entreprise {
    color: var(--orange);
}



.timelinezone--careerpath .timeline__data .rqth--aside {
    color: var(--green);
}

.gridzone--careerpath article:last-child {
    margin-bottom: 0;
}

/* image text ___________________________________________________ */
.img_text_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 50px;
}

.img_text_container--grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-row-gap: 5rem;
    justify-items: center;
    align-items: center;
    padding-bottom: 50px;
}

.img_text {
    height: calc(90px + 6vw);
}

.img_text--grid {
    height: calc(55px + 5vw);

}

/* tips ___________________________________________________ */

.myTips {
    cursor: pointer;
}

.myTips:hover {
    border: solid;
    border-width: 5px;
    border-color: var(--orange);
}


.img_alone--small {
    height: calc(40vw + 7em);
    border-radius: 10px;
}

.img_alone--big {
    width: 91vw;
    border-radius: 10px;
}

.h2_text {
    font-family: syncopate;
    text-align: center;
    color: var(--blue);
    font-weight: 300;
    font-size: calc(16px + 1vw);
}

.tips--container--big {
    /* position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    height: 0%; */
    /* width: 100vw; */
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: visible;
    /* APPLYING TRANSITION TO THE MENU :  */
    transition: all 0.4s ease;
    background-color: transparent;
}

.tips--container--big--100 {
    width: 100%;
    height: 100%;
}

.innerMain--hidden {
    visibility: hidden;
    display: none;
}


.tips--element--big {
    width: 95vw;
    height: auto;
    border: solid;
    border-width: 2px;
    border-color: var(--orange);
    background-color: var(--footer);
    border-radius: 10px;
}

.bottom {
    margin-bottom: 50px;
}

.mailto {
    text-align: center;
    font-family: syncopate;
    color: var(--blue);
}

.mailto:hover {
    color: var(--orange);
}

.mailto_container {
    display: flex;
    flex-direction: row;
    justify-content: right;
}